body {
    font-family: 'Arial', sans-serif;
    background-color: #ff6c6c;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #079cff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
h1{
    align-items: center;
    color: #ff6c6c;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

form {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-right: 10px;
    color: #0e0d0d;
    font-family: 'Times New Roman', Times, serif;
}

input[type="text"] {
    font-size: 16px;
    padding: 8px;
    width: 60%;
}

button {
    font-size: 16px;
    padding: 8px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2a63a6;
}

h2 {
    color: #555;
    margin-top: 20px;
}

div img {
    max-width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
